[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "dot.emacs-site-lisp/use-package"]
	path = dot.emacs-site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
