# Leave plain text host names in known_hosts
HashKnownHosts no
     
Host bdc34-dev
     HostName bdc34-dev.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host mhl10-dev
     HostName mhl10-dev.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-dev
     HostName arxiv-dev.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-res res
     HostName arxiv-res.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-beta
     HostName arxiv-beta.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-nexus nexus
     HostName arxiv-nexus.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-web1 web1
     HostName arxiv-web1.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-web2 web2
     HostName arxiv-web2.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-web3 web3
     HostName arxiv-web3.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes

Host arxiv-web4 web4
     HostName arxiv-web4.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes

Host arxiv-export1 export1
     HostName arxiv-export1.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-export2 export2
     HostName arxiv-export2.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host arxiv-export3 export3
     HostName arxiv-export3.library.cornell.edu
     ForwardX11 yes
     ForwardAgent yes
     
Host *.cornell.edu
     ForwardX11 yes
     ForwardAgent yes

Host *
     # Send a packet if there is nothing going on to
     # avoid CITs firewalls hanging up on us. 
     ServerAliveInterval 6
     ServerAliveCountMax 20

Host github *.github.com
        HostName github.com
        ForwardX11 no
        ForwardAgent no
